@page "/timelines"

<PageTitle>Timelines</PageTitle>

<h1 class="text-3xl font-bold mb-6">Timeline Component</h1>

<section class="mb-8">
    <h2 class="text-xl font-semibold mb-4">Basic Vertical</h2>
    <CodeExample Code="@basicCode">
        <BlazyTimeline Direction="BlazyTimelineDirection.Vertical">
            <BlazyTimelineItem>
                <BlazyTimelineStart>1984</BlazyTimelineStart>
                <BlazyTimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </BlazyTimelineMiddle>
                <BlazyTimelineEnd Box>First Macintosh computer</BlazyTimelineEnd>
                <BlazyTimelineConnector />
            </BlazyTimelineItem>
            <BlazyTimelineItem>
                <BlazyTimelineConnector />
                <BlazyTimelineStart>1998</BlazyTimelineStart>
                <BlazyTimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </BlazyTimelineMiddle>
                <BlazyTimelineEnd Box>iMac</BlazyTimelineEnd>
                <BlazyTimelineConnector />
            </BlazyTimelineItem>
            <BlazyTimelineItem>
                <BlazyTimelineConnector />
                <BlazyTimelineStart>2001</BlazyTimelineStart>
                <BlazyTimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </BlazyTimelineMiddle>
                <BlazyTimelineEnd Box>iPod</BlazyTimelineEnd>
            </BlazyTimelineItem>
        </BlazyTimeline>
    </CodeExample>
</section>

<section class="mb-8">
    <h2 class="text-xl font-semibold mb-4">Horizontal</h2>
    <CodeExample Code="@horizontalCode">
        <div class="overflow-x-auto">
            <BlazyTimeline Direction="BlazyTimelineDirection.Horizontal">
                <BlazyTimelineItem>
                    <BlazyTimelineStart Box>Step 1</BlazyTimelineStart>
                    <BlazyTimelineMiddle>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-primary">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                        </svg>
                    </BlazyTimelineMiddle>
                    <BlazyTimelineConnector />
                </BlazyTimelineItem>
                <BlazyTimelineItem>
                    <BlazyTimelineConnector />
                    <BlazyTimelineStart Box>Step 2</BlazyTimelineStart>
                    <BlazyTimelineMiddle>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-primary">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                        </svg>
                    </BlazyTimelineMiddle>
                    <BlazyTimelineConnector />
                </BlazyTimelineItem>
                <BlazyTimelineItem>
                    <BlazyTimelineConnector />
                    <BlazyTimelineStart Box>Step 3</BlazyTimelineStart>
                    <BlazyTimelineMiddle>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                        </svg>
                    </BlazyTimelineMiddle>
                </BlazyTimelineItem>
            </BlazyTimeline>
        </div>
    </CodeExample>
</section>

<section class="mb-8">
    <h2 class="text-xl font-semibold mb-4">Alternating Sides</h2>
    <CodeExample Code="@alternatingSidesCode">
        <BlazyTimeline Direction="BlazyTimelineDirection.Vertical">
            <BlazyTimelineItem>
                <BlazyTimelineStart Box>First event</BlazyTimelineStart>
                <BlazyTimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </BlazyTimelineMiddle>
                <BlazyTimelineConnector />
            </BlazyTimelineItem>
            <BlazyTimelineItem>
                <BlazyTimelineConnector />
                <BlazyTimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </BlazyTimelineMiddle>
                <BlazyTimelineEnd Box>Second event</BlazyTimelineEnd>
                <BlazyTimelineConnector />
            </BlazyTimelineItem>
            <BlazyTimelineItem>
                <BlazyTimelineConnector />
                <BlazyTimelineStart Box>Third event</BlazyTimelineStart>
                <BlazyTimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </BlazyTimelineMiddle>
            </BlazyTimelineItem>
        </BlazyTimeline>
    </CodeExample>
</section>

<section class="mb-8">
    <h2 class="text-xl font-semibold mb-4">Compact</h2>
    <CodeExample Code="@compactCode">
        <BlazyTimeline Direction="BlazyTimelineDirection.Vertical" Compact>
            <BlazyTimelineItem>
                <BlazyTimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </BlazyTimelineMiddle>
                <BlazyTimelineEnd>Register</BlazyTimelineEnd>
                <BlazyTimelineConnector />
            </BlazyTimelineItem>
            <BlazyTimelineItem>
                <BlazyTimelineConnector />
                <BlazyTimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </BlazyTimelineMiddle>
                <BlazyTimelineEnd>Verify email</BlazyTimelineEnd>
                <BlazyTimelineConnector />
            </BlazyTimelineItem>
            <BlazyTimelineItem>
                <BlazyTimelineConnector />
                <BlazyTimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </BlazyTimelineMiddle>
                <BlazyTimelineEnd>Complete profile</BlazyTimelineEnd>
            </BlazyTimelineItem>
        </BlazyTimeline>
    </CodeExample>
</section>

<section class="mb-8">
    <h2 class="text-xl font-semibold mb-4">Colored Connectors</h2>
    <CodeExample Code="@coloredCode">
        <BlazyTimeline Direction="BlazyTimelineDirection.Vertical">
            <BlazyTimelineItem>
                <BlazyTimelineStart>Start</BlazyTimelineStart>
                <BlazyTimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-primary">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </BlazyTimelineMiddle>
                <BlazyTimelineEnd Box>Done</BlazyTimelineEnd>
                <BlazyTimelineConnector Class="bg-primary" />
            </BlazyTimelineItem>
            <BlazyTimelineItem>
                <BlazyTimelineConnector Class="bg-primary" />
                <BlazyTimelineStart>Step 2</BlazyTimelineStart>
                <BlazyTimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-primary">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </BlazyTimelineMiddle>
                <BlazyTimelineEnd Box>Done</BlazyTimelineEnd>
                <BlazyTimelineConnector />
            </BlazyTimelineItem>
            <BlazyTimelineItem>
                <BlazyTimelineConnector />
                <BlazyTimelineStart>Step 3</BlazyTimelineStart>
                <BlazyTimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </BlazyTimelineMiddle>
                <BlazyTimelineEnd Box>Pending</BlazyTimelineEnd>
            </BlazyTimelineItem>
        </BlazyTimeline>
    </CodeExample>
</section>

@code {
    private string basicCode = @"<BlazyTimeline Direction=""BlazyTimelineDirection.Vertical"">
    <BlazyTimelineItem>
        <BlazyTimelineStart>1984</BlazyTimelineStart>
        <BlazyTimelineMiddle>
            <svg>...</svg>
        </BlazyTimelineMiddle>
        <BlazyTimelineEnd Box>First Macintosh</BlazyTimelineEnd>
        <BlazyTimelineConnector />
    </BlazyTimelineItem>
    <!-- More items... -->
</BlazyTimeline>";

    private string horizontalCode = @"<BlazyTimeline Direction=""BlazyTimelineDirection.Horizontal"">
    <BlazyTimelineItem>
        <BlazyTimelineStart Box>Step 1</BlazyTimelineStart>
        <BlazyTimelineMiddle><svg>...</svg></BlazyTimelineMiddle>
        <BlazyTimelineConnector />
    </BlazyTimelineItem>
    <!-- More items... -->
</BlazyTimeline>";

    private string alternatingSidesCode = @"<BlazyTimeline Direction=""BlazyTimelineDirection.Vertical"">
    <BlazyTimelineItem>
        <BlazyTimelineStart Box>Left side</BlazyTimelineStart>
        <BlazyTimelineMiddle>...</BlazyTimelineMiddle>
    </BlazyTimelineItem>
    <BlazyTimelineItem>
        <BlazyTimelineMiddle>...</BlazyTimelineMiddle>
        <BlazyTimelineEnd Box>Right side</BlazyTimelineEnd>
    </BlazyTimelineItem>
</BlazyTimeline>";

    private string compactCode = @"<BlazyTimeline Direction=""BlazyTimelineDirection.Vertical"" Compact>
    <!-- Items without TimelineStart -->
</BlazyTimeline>";

    private string coloredCode = @"<BlazyTimelineConnector Class=""bg-primary"" />";
}
