@page "/timelines"

<PageTitle>Timelines</PageTitle>

<h1 class="text-3xl font-bold mb-6">Timeline Component</h1>

<section class="mb-8">
    <h2 class="text-xl font-semibold mb-4">Basic Vertical</h2>
    <CodeExample Code="@basicCode">
        <Timeline Direction="TimelineDirection.Vertical">
            <TimelineItem>
                <TimelineStart>1984</TimelineStart>
                <TimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </TimelineMiddle>
                <TimelineEnd Box>First Macintosh computer</TimelineEnd>
                <TimelineConnector />
            </TimelineItem>
            <TimelineItem>
                <TimelineConnector />
                <TimelineStart>1998</TimelineStart>
                <TimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </TimelineMiddle>
                <TimelineEnd Box>iMac</TimelineEnd>
                <TimelineConnector />
            </TimelineItem>
            <TimelineItem>
                <TimelineConnector />
                <TimelineStart>2001</TimelineStart>
                <TimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </TimelineMiddle>
                <TimelineEnd Box>iPod</TimelineEnd>
            </TimelineItem>
        </Timeline>
    </CodeExample>
</section>

<section class="mb-8">
    <h2 class="text-xl font-semibold mb-4">Horizontal</h2>
    <CodeExample Code="@horizontalCode">
        <div class="overflow-x-auto">
            <Timeline Direction="TimelineDirection.Horizontal">
                <TimelineItem>
                    <TimelineStart Box>Step 1</TimelineStart>
                    <TimelineMiddle>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-primary">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                        </svg>
                    </TimelineMiddle>
                    <TimelineConnector />
                </TimelineItem>
                <TimelineItem>
                    <TimelineConnector />
                    <TimelineStart Box>Step 2</TimelineStart>
                    <TimelineMiddle>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-primary">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                        </svg>
                    </TimelineMiddle>
                    <TimelineConnector />
                </TimelineItem>
                <TimelineItem>
                    <TimelineConnector />
                    <TimelineStart Box>Step 3</TimelineStart>
                    <TimelineMiddle>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                        </svg>
                    </TimelineMiddle>
                </TimelineItem>
            </Timeline>
        </div>
    </CodeExample>
</section>

<section class="mb-8">
    <h2 class="text-xl font-semibold mb-4">Alternating Sides</h2>
    <CodeExample Code="@alternatingSidesCode">
        <Timeline Direction="TimelineDirection.Vertical">
            <TimelineItem>
                <TimelineStart Box>First event</TimelineStart>
                <TimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </TimelineMiddle>
                <TimelineConnector />
            </TimelineItem>
            <TimelineItem>
                <TimelineConnector />
                <TimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </TimelineMiddle>
                <TimelineEnd Box>Second event</TimelineEnd>
                <TimelineConnector />
            </TimelineItem>
            <TimelineItem>
                <TimelineConnector />
                <TimelineStart Box>Third event</TimelineStart>
                <TimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </TimelineMiddle>
            </TimelineItem>
        </Timeline>
    </CodeExample>
</section>

<section class="mb-8">
    <h2 class="text-xl font-semibold mb-4">Compact</h2>
    <CodeExample Code="@compactCode">
        <Timeline Direction="TimelineDirection.Vertical" Compact>
            <TimelineItem>
                <TimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </TimelineMiddle>
                <TimelineEnd>Register</TimelineEnd>
                <TimelineConnector />
            </TimelineItem>
            <TimelineItem>
                <TimelineConnector />
                <TimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </TimelineMiddle>
                <TimelineEnd>Verify email</TimelineEnd>
                <TimelineConnector />
            </TimelineItem>
            <TimelineItem>
                <TimelineConnector />
                <TimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </TimelineMiddle>
                <TimelineEnd>Complete profile</TimelineEnd>
            </TimelineItem>
        </Timeline>
    </CodeExample>
</section>

<section class="mb-8">
    <h2 class="text-xl font-semibold mb-4">Colored Connectors</h2>
    <CodeExample Code="@coloredCode">
        <Timeline Direction="TimelineDirection.Vertical">
            <TimelineItem>
                <TimelineStart>Start</TimelineStart>
                <TimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-primary">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </TimelineMiddle>
                <TimelineEnd Box>Done</TimelineEnd>
                <TimelineConnector Class="bg-primary" />
            </TimelineItem>
            <TimelineItem>
                <TimelineConnector Class="bg-primary" />
                <TimelineStart>Step 2</TimelineStart>
                <TimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-primary">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </TimelineMiddle>
                <TimelineEnd Box>Done</TimelineEnd>
                <TimelineConnector />
            </TimelineItem>
            <TimelineItem>
                <TimelineConnector />
                <TimelineStart>Step 3</TimelineStart>
                <TimelineMiddle>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </TimelineMiddle>
                <TimelineEnd Box>Pending</TimelineEnd>
            </TimelineItem>
        </Timeline>
    </CodeExample>
</section>

@code {
    private string basicCode = @"<Timeline Direction=""TimelineDirection.Vertical"">
    <TimelineItem>
        <TimelineStart>1984</TimelineStart>
        <TimelineMiddle>
            <svg>...</svg>
        </TimelineMiddle>
        <TimelineEnd Box>First Macintosh</TimelineEnd>
        <TimelineConnector />
    </TimelineItem>
    <!-- More items... -->
</Timeline>";

    private string horizontalCode = @"<Timeline Direction=""TimelineDirection.Horizontal"">
    <TimelineItem>
        <TimelineStart Box>Step 1</TimelineStart>
        <TimelineMiddle><svg>...</svg></TimelineMiddle>
        <TimelineConnector />
    </TimelineItem>
    <!-- More items... -->
</Timeline>";

    private string alternatingSidesCode = @"<Timeline Direction=""TimelineDirection.Vertical"">
    <TimelineItem>
        <TimelineStart Box>Left side</TimelineStart>
        <TimelineMiddle>...</TimelineMiddle>
    </TimelineItem>
    <TimelineItem>
        <TimelineMiddle>...</TimelineMiddle>
        <TimelineEnd Box>Right side</TimelineEnd>
    </TimelineItem>
</Timeline>";

    private string compactCode = @"<Timeline Direction=""TimelineDirection.Vertical"" Compact>
    <!-- Items without TimelineStart -->
</Timeline>";

    private string coloredCode = @"<TimelineConnector Class=""bg-primary"" />";
}
